.basket-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // background-color: rgb(209, 209, 208);
    h3,
    h5 {
        text-align: center;
        margin: 0;
    }

    h5 {
        margin: 10px 0px;
    }

    .btn {
        margin-bottom: 50px;
    }
}