.custom-cursor {
    width: 15px;
    height: 15px;
    background-color: rgb(35, 34, 34); 
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; 
    transform: translate(-50%, -50%);
    transition: transform 0.1s linear;
    z-index: 9999;
}

a:hover ~ .custom-cursor {
    transform: scale(1.5);
    background-color: blue;
}
*{

    // cursor: none;
}